
<title>Consultas</title>

{% extends "layout.html" %}
{% block contenido %}

<br>
<br>
<form class="d-flex form-floating mb-3 container-sm " id="margenBuscar" method="POST">
  <input name="busqueda" class="form-control me-2" id="floatingInput" type="search" placeholder="Buscar vuelos" aria-label="Search">
  <label for="floatingInput" id="labelBuscar">Buscar Vuelo</label>
  <button class="btn btn-outline-primary" type="submit">Buscar</button>
</form>

<table class="table container-sm">
  <thead class="table-dark">
    <tr>
      <th scope="col">Codigo-Vuelo</th>
      <th scope="col">Avión</th>
      <th scope="col">Piloto</th>
      <th scope="col">Destino</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for a in datos %}
    <tr>
      {% for j in a %}
        <td> {% print(j) %}</td>
      {% endfor %}
      <td> A tiempo</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}