<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="/static/CSS/estiloSuper.css">
{% extends "layout.html" %}
{% block contenido %}

    <div class="general">
        <div class="Avuelos">
            <h2>Arribos vuelos</h2>
            <table>
                <tr>
                    <th>Codigo</th>
                    <th>Piloto</th>
                    <th>Origen</th>
                    <th>Avion</th>
                    <th>Puerta</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>AV8509</td>
                    <td>jose</td>
                    <td>Popayan</td>
                    <td>KIA89</td>
                    <td>2</td>
                    <td>2021-10-25</td>
                    <td>19:30</td>
                    <td>Espera</td>

                </tr>
                <tr>
                    <td>AV8509</td>
                    <td>jose</td>
                    <td>Popayan</td>
                    <td>KIA89</td>
                    <td>2</td>
                    <td>2021-10-25</td>
                    <td>19:30</td>
                    <td>Espera</td>

                </tr>
                <tr>
                    <td>AV8509</td>
                    <td>jose</td>
                    <td>Popayan</td>
                    <td>KIA89</td>
                    <td>2</td>
                    <td>2021-10-25</td>
                    <td>19:30</td>
                    <td>Espera</td>

                </tr>

                <tr>
                    <td>AV8509</td>
                    <td>jose</td>
                    <td>Popayan</td>
                    <td>KIA89</td>
                    <td>2</td>
                    <td>2021-10-25</td>
                    <td>19:30</td>
                    <td>Espera</td>

                </tr>

                <tr>
                    <td>AV8509</td>
                    <td>jose</td>
                    <td>Popayan</td>
                    <td>KIA89</td>
                    <td>2</td>
                    <td>2021-10-25</td>
                    <td>19:30</td>
                    <td>Espera</td>

                </tr>
              
            </table>

        </div>

        <div class="Svuelos">
            <h2>Salidas vuelos</h2>
            <table>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Destino</th>
                    <th>Avion</th>
                    <th>Piloto</th>
                    <th>Puerta</th>
                    <th>Estado</th>
                </tr>
    
                {% for i in datos[0] %}
                <tr>
                    {% for a in i %}
                    <td>{% print(a) %}</td>
                    {% endfor %}
                    <td>A tiempo</td>
                </tr>
                {% endfor %}
     
            </table>

        </div>
       
    </div><br>

    <div style="text-align: center;">
        <button class="button button1"><a href="/gestioncomentarios" style="text-decoration: none; color: aliceblue;">Gestionar Comentario</a></button>
        <button class="button button1"><a href="/permisos" style="text-decoration: none; color: aliceblue;">Asignar permisos</a></button>
        <!-- <button class="button button1">Gestionar Pilotos</button> -->
        <form  method="get" style="margin: auto;">
            NUMERO DE USUARIOS EN EL SISTEMA
            <Label>{%  print(datos[1][0]) %}</Label>;
            NUMERO DE PILOTOS
            <Label>{%  print(datos[2][0]) %}</Label>;
            NUMERO DE PASAJEROS
            <Label>{%  print(datos[3][0]) %}</Label>
            <br>
            <!-- PILOTOS DISPONIBLES
            <input type="text">
            AVIONES DISPONIBLES
            <input type="text"><br> -->

        </form>
        <button class="button button1"><a href="/crearvuelo" style="text-decoration: none; color: aliceblue;">Crear Vuelos</a></button>
        <button class="button button1"><a href="/editarvuelo" style="text-decoration: none; color: aliceblue;">Editar Vuelos</a></button>
        <button class="button button1"><a href="/eliminarvuelo" style="text-decoration: none; color: aliceblue;">Eliminar Vuelos</a></button>
    </div>

{% endblock %}

