
  <title>Eliminar Vuelo</title>
  <link rel="stylesheet" type="text/css" href="/static/CSS/estiloPax.css">
{% extends "layout.html" %}
{% block contenido %}
  <form action= "/eliminarvuelo" method="post" id="formR">
    <h2> Eliminar Vuelo </h2>
    <hr>
    <label for="buscar">Búsqueda  por código de vuelo</label>
    <br><br>Introduzca el codigo del vuelo a eliminar :
    <input type="text" id="buscar" name="buscar" wigth="50px">
    <br><br>
    <button type="submit" id="boton" class="botonR" name="boton">Buscar</button>
    <br><br>
    <hr>
    <div class="sele">
    <p class="enunciado">CÓDIGO    HORA      DESTINO      ESTADO    PUERTA</p>
    <br>
    <div class="box">
      {% if resultados%}   
    <label id="letra" >   {{resultados[0]}} {{resultados[2]}} {{resultados[3]}} RETRASADO 5</label>
      {%endif%}
  
    </div>
    <br>
    </div>
  </form>
  
  <form action= "/eliminarvuelo/eliminar" method="post" id="formR">
    <br>
    <button type="submit" id="boton" class="botonR" name="eliminar">Eliminar</button>
  </form>
{% endblock %}
    