<title>Reservar</title>
<link rel="stylesheet" type="text/css" href="/static/CSS/estiloPax.css">
{% extends "layout.html" %}
{% block contenido %}

    <form action="/reservar" method="post" class="container-sm">
        <h2>DATOS DEL PASAJERO</h2>
        <p>En este espacio usted podrá reservar su vuelo, para ello deberá diligenciar el siguiente formulario: </p>
        <hr>
        <h4>DATOS PERSONALES / PERSONAL INFORMATION :</h6>
        <p>Introduzca sus datos personales en los siguientes campos </p>
        <!-- <label>Nacionalidad/Nationality : <input type="" id="Nacionalidad" name="nacionalidad" placeholder="Nacionalidad/Nationality"/></label>
        <br/>
        <br/> -->
        
        <label> Numero de Identidad / ID Number :id    <input type=" " id="identificacion" name="identificacion" placeholder="# Identificación/ID number"></label>
        <br/>
        <br/>
        <!-- Genero/Genre :<label> Masculino (Male) <input type="radio" id="Genero" name="genero" value="masculino"/></label>
        <label>  Femenino (Female) <input type="radio" id="Genero" name="genero" value="femenino"/></label>
        <br/>
        <br/>
        Indique si es un Niño o un Adulto  :
        <label>Niño/Child <input type="radio" id="Tipo" name="tipo"value="niño"/></label>
        <label>Adulto/Adult <input type="radio" id="Tipo" name="tipo" value="adulto"/></label>
        <br/>
        <br/>
        <label> Introduzca su Edad : <input type="number" min="0" max="130" step="1" id="Edad" name="edad" placeholder="Edad/Age"/></label>
        <br/>
        <br/> -->
        <label>Nombre: <input type="" id="Nombre" name="nombre" placeholder="1er Nombre/1st Name"/></label>
        <br/>
        <br/>
        <label>Apellido: <input type="" id="Apellido" name="apellido" placeholder="1er Apellido/Last Name"/></label>
        <br/>
        <br/>
        <label>Correo Electrónico: <input type="email" id="correo" name="correo" placeholder="CorreoElectrónico/Email"/></label>
        <br>
        <br/>
        <hr>
        <h4>INFORMACION SOBRE EL VUELO A RESERVAR / INFORMATION ABOUT THE FLIGHT TO BE BOOKED:</h4>
        <br/>
        <label>Ciudad de Destino / Destination City : <input type="" id="Destino" name="destino" placeholder="Destino/Destination"/></label>
        <br/>
        <br/>
        Introduzca la fecha del vuelo / Enter the date of your flight  :
        <br/>
        <br/>
        <label>Dia del Vuelo / Flight Day : <input type="Date" id="Fecha" name="fecha"/></label>
        <br/>
        <br/>
        <label>Hora del Vuelo / Flight Hour : <input type="time" id="Hora" name="hora"/></label>
        <br/>
        <br/>        
        <!-- Introduzca el lugar donde se desea sentar en el avión /:
        <br/>
        <br/>
        <label>Pasillo / Hall : <input type="radio" id="Lugar" name="lugar" value="Pasillo"/></label>
        <label>Ventana / Window : <input type="radio" id="Lugar" name="lugar" value="Ventana"/></label>
        <br>
        <br/>
        <label>Lado Derecha / Right Side : <input type="radio" id="Lado" name="lado" value="Derecha"/></label>
        <label>Lado Izquierda / Left Side : <input type="radio" id="Lado" name="lado" value="Izquierda"/></label>
        <br>
        <br/>
        <label>Fila / Row : <input type="number" min="1" max="30" step="1" id="Fila" name="fila" placeholder="Fila/Row"/></label>
        <br>
        <br/> -->
        <button type="button"><a href="/consultas" style="text-decoration: none; color: black;">Cancelar / Cancel</a> </button>  <!-- recuerda usar javascript para las direccion a la pagina de usuario-->
        <input type="submit" value= 'Enviar'> 
        <button type="reset"> Limpiar / Reset</button>


        <hr>
    </form>
{% endblock %}
